<p id="notice"><%= notice %></p>

<h1>Motivos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motivos.each do |motivo| %>
      <tr>
        <td><%= motivo.nome %></td>
        <td><%= link_to 'Show', motivo %></td>
        <td><%= link_to 'Edit', edit_motivo_path(motivo) %></td>
        <td><%= link_to 'Destroy', motivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motivo', new_motivo_path %>
