%br
%br
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar{style: 'margin-top: 40px'}
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            %a.nav-link{href: dashboard_path}
              %span{'data-feather': "home"}
              Dashboard
              %span.sr-only (current)
          -if current_user.kind_of?(Admin)
            %li.nav-item
              %a.nav-link{href: dashboard_disciplinas_path}
                %span{'data-feather': "file"}
                Disciplinas
          - if current_user.kind_of?(User) || current_user.kind_of?(Professor)
            %li.nav-item
              %a.nav-link{href: dashboard_monitorias_path}
                %span{'data-feather': "github"}
                Monitoria

          -if current_user.kind_of?(Professor)
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link{href: dashboard_turmas_path}
                  %span{'data-feather': "edit"}
                  Turmas

          -if current_user.kind_of?(Admin)
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link.active{href: dashboard_apagar_alunos_path}
                  %span{'data-feather': "trash"}
                  Apagar alunos

        -unless current_user.kind_of?(Admin)
          %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            Menu
            %span do usuário
            %a.d-flex.align-items-center.text-muted{href: "#"}
              %span{'data-feather': "plus-circle"}

        -if current_user.kind_of?(User) || current_user.kind_of?(Professor)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_edit_user_path}
                %span{'data-feather': "settings"}
                Editar Perfil

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_dados_bancarios_path}
                %span{'data-feather': "dollar-sign"}
                Dados Bancários

    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{role: "main"}
      .row
        .col
          %h2 Deletar Alunos
          %hr
          -if flash[:danger]
            .alert.alert-danger
              - flash[:danger]
          -if flash[:notice]
            .alert.alert-success
              = flash[:notice]
      %br
      .row
        .col
          .row
            .col-8
              .row
                - @users.each do |user|
                  .col-6
                    .card
                      .card-body
                        %h5.card-title #{user.name}
                        %hr
                        Matricula: <b>#{user.matricula}</b>
                        %br
                        Email: <b>#{user.email}</b>
                        %br
                        CPF: <b>#{user.cpf}</b>
                        %br
                        RG: <b>#{user.rg}</b>
            .col-4
              Utilize o campo abaixo para digitar a matrícula do aluno que será deletado e
              clique em 'Deletar aluno' para concluir a ação.
              %hr
              = form_tag dashboard_deletar_aluno_path, method: :post do
                = label :user, :matricula, 'Matrícula'
                = text_field :user, :matricula, class: 'form-control', autocomplete: 'off'

                %br
                = submit_tag 'Deletar aluno', class: 'btn btn-outline-danger btn-block', data: {confirm: 'Tem certeza que deseja apagar o aluno?'}
        .col-1