%br
%br
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar{style: 'margin-top: 40px'}
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            %a.nav-link{href: dashboard_path}
              %span{'data-feather': "home"}
              Dashboard
              %span.sr-only (current)
          -if current_user.kind_of?(Admin)
            %li.nav-item
              %a.nav-link{href: dashboard_disciplinas_path}
                %span{'data-feather': "file"}
                Disciplinas
          - if current_user.kind_of?(User) || current_user.kind_of?(Professor)
            %li.nav-item
              %a.nav-link{href: dashboard_monitorias_path}
                %span{'data-feather': "github"}
                Monitoria

          -if current_user.kind_of?(Professor)
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link{href: dashboard_turmas_path}
                  %span{'data-feather': "edit"}
                  Turmas

          -if current_user.kind_of?(Admin)
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link{href: dashboard_apagar_alunos_path}
                  %span{'data-feather': "trash"}
                  Apagar alunos

        %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          Menu
          %span do usuário
          %a.d-flex.align-items-center.text-muted{href: "#"}
            %span{'data-feather': "plus-circle"}

        -if current_user.kind_of?(User) || current_user.kind_of?(Professor)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_edit_user_path}
                %span{'data-feather': "settings"}
                Editar Perfil

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_dados_bancarios_path}
                %span{'data-feather': "dollar-sign"}
                Dados Bancários

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link.active{href: dashboard_historico_path}
                %span{'data-feather': "film"}
                Histórico

    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{role: "main"}
      .row
        .col-10
          %h1 Histórico
          %hr
          -if flash[:danger]
            .alert.alert-danger
              = flash[:danger]
          -if flash[:notice]
            .alert.alert-success
              = flash[:notice]

          - if current_user.class == User
            %p.lead
              Aqui você pode verificar o histórico de disciplinas das quais você já foi monitor.
            %p.lead
              Voce já foi monitor em <b>#{pluralize(@mostrar.count, "turma")}</b>.
            %br
            .row
            %h4 Inscrições
            %hr
            .row
              - @mostrar.each do |m|
                .col-0
                  - d = Disciplina.find(m.fk_cod_disciplina)
                  - t = Turma.find(m.fk_turmas_id)
                  - status = "Encerrado"
                .card
                  .card-body
                    %h5.card-title
                      Monitoria Encerrada
                    %hr
                    Disciplina: <b>#{d.nome}</b>
                    %br
                    Turma: <b>#{t.turma}
                    %br
                    Status da monitoria: <b>#{status}</b>