%br
%br
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar{style: 'margin-top: 40px'}
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            %a.nav-link{href: dashboard_path}
              %span{'data-feather': "home"}
              Dashboard
              %span.sr-only (current)
          -if current_user.kind_of?(Admin)
            %li.nav-item
              %a.nav-link{href: dashboard_disciplinas_path}
                %span{'data-feather': "file"}
                Disciplinas
          - if current_user.kind_of?(User) || current_user.kind_of?(Professor)
            %li.nav-item
              %a.nav-link.active{href: dashboard_monitorias_path}
                %span{'data-feather': "github"}
                Monitoria

          -if current_user.kind_of?(Professor)
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link{href: dashboard_turmas_path}
                  %span{'data-feather': "edit"}
                  Turmas

          -if current_user.kind_of?(Admin)
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link{href: dashboard_apagar_alunos_path}
                  %span{'data-feather': "trash"}
                  Apagar alunos

        %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          Menu
          %span do usuário
          %a.d-flex.align-items-center.text-muted{href: "#"}
            %span{'data-feather': "plus-circle"}

        -if current_user.kind_of?(User) || current_user.kind_of?(Professor)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_edit_user_path}
                %span{'data-feather': "settings"}
                Editar Perfil

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_dados_bancarios_path}
                %span{'data-feather': "dollar-sign"}
                Dados Bancários

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_historico_path}
                %span{'data-feather': "film"}
                Histórico

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_registrar_atividade_path}
                %span{'data-feather': "file-text"}
                Registrar Atividade

    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{role: "main"}
      .row
        .col-10
          %h1 Monitoria
          %hr
          -if flash[:danger]
            .alert.alert-danger
              = flash[:danger]
          -if flash[:notice]
            .alert.alert-success
              = flash[:notice]

          - if current_user.class == User
            %p.lead
              Aqui você pode realizar suas inscrições para monitorias nas disciplinas de sua escolha.
              Após a inscrição, o acompanhamento e exclusão de inscrições pode ser realizado abaixo.
            %p.lead
              Voce tem <b>#{pluralize(@monitorias.count, "cadastro")}</b> para monitor.
            %br
            .row
              .col-8
                %h4 Inscrições
                %hr
                .row
                  - @monitorias.each do |m|
                    .col-6
                      - d = Disciplina.find(m.fk_cod_disciplina)
                      - case m.fk_status_monitoria_id
                        - when 1
                          - status = "Pendente"
                        - when 2
                          - status = "Rejeitado"
                        - when 3
                          - status = "Aceito"
                        - when 4
                          - status = "Encerrado"
                      -if m.fk_status_monitoria_id != 4
                        .card
                          .card-body
                            %h5.card-title
                              Aplicação Monitoria
                            %hr
                            Disciplina: <b>#{d.nome}</b>
                            %br
                            Status do solicitaçao: <b>#{status}</b>
                            %br
                            %br
                            =link_to "Remover aplicaçao", monitoria_path(m), method: :delete, data: {confirm: "Tem certeza que quer desistir de monitorar esta disciplina?"}, class: 'btn btn-outline-danger btn-block'
              .col-4
                %h4 Turmas
                %hr
                %div{style:'height: 550px; overflow-y: scroll'}
                  - @turmas = Turma.all_turmas
                  - @disciplinas = Disciplina.all_disciplinas
                  - @disciplinas.each do |disciplina|
                    - @turmas.each do |turma|
                      - if disciplina.cod_disciplina == turma.fk_cod_disciplina
                        .card
                          .card-body
                            %h5
                              = disciplina.nome
                            %p
                              %b Turma:
                              = turma.turma
                              %br
                              %b Professor:
                              = turma.professor
                            = link_to "Aplicar para monitoria", new_monitoria_path(turma: turma.fk_cod_disciplina), {class: 'btn btn-outline-success unb-green btn-block', id: "link_#{turma.id}" }

          - else
            %p.lead
              Professor, nessa página você pode visualizar todas as turmas de disciplinas que você
              ministra que receberam inscrições de alunos para monitoria. Para acessar a lista
              e escolher seus monitores, clique em 'Ver lista de monitores' em alguma das turmas abaixo.
              %br
              Caso o botão esteja desativado (cinza) significa que ainda não há aplicantes para monitoria
              na disciplina.
            %br
            .row
              .col
                .ul.list-group
                  - Turma.where(professor: @user.name).each do |turma|
                    - @disciplina = Disciplina.find(turma.fk_cod_disciplina)
                    %li.list-group-item
                      Disciplina:
                      %b
                        = @disciplina.nome
                      %br
                      Turma:
                      %b
                        = turma.turma
                      %br
                      %br
                      - cod = @disciplina.cod_disciplina
                      - m = Monitoria.find_by(fk_cod_disciplina: cod, fk_turmas_id: turma.id)
                      - if !m.nil?
                        = link_to "Ver lista de monitores", dashboard_monitorias_candidatos_path(id: turma.id), class: 'btn btn-outline-primary unb-blue'
                      - else
                        = link_to "Ver lista de monitores", nil, class: 'btn btn-secondary disabled'
        .col-2
