%main.container.text-center{role: "container"}
  = form_tag sessions_path, method: :post, class: "form-signin" do
    %img.mb-4{src: image_path("logo.png"), alt: "Generic Logo"}
    - if flash[:danger] || flash[:notice]
      - if flash[:danger]
        .alert.alert-danger
          =flash[:danger]
      - elsif flash[:notice]
        .alert.alert-warning
          =flash[:notice]
    %h1.h3.mb-3.font-weight-normal Faça o login
    = label :user, :email, 'Email', :class => "sr-only"
    = email_field :user, :email, class: "form-control", placeholder: "Seu email..."
    = label :user, :password, 'Password', :class => "sr-only"
    = password_field :user, :password, class: "form-control", placeholder: "Sua senha..."
    = submit_tag 'Login', :class => "btn btn-md btn-primary btn-block"
    %p.mt-4.text-muted
      (psst! Esqueceu a senha?
      %a{href: new_reset_senha_path}Clique aqui
      %span> )
      -# Elimina o espaço após um link
    %p
    %p.mt-5.mb-3.text-muted
      &copy; 2018-2018
