%br
%br
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar{style: 'margin-top: 40px'}
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            %a.nav-link{href: dashboard_path}
              %span{'data-feather': "home"}
              Dashboard
              %span.sr-only (current)
          - if current_user.kind_of?(User) || current_user.kind_of?(Professor)
            %li.nav-item
              %a.nav-link{href: monitorias_path}
                %span{'data-feather': "book"}
                Disciplinas
          %li.nav-item
            %a.nav-link.active{href: monitorias_path}
              %span{'data-feather': "home"}
              Monitoria

        %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          Menu
          %span do usuário
          %a.d-flex.align-items-center.text-muted{href: "#"}
            %span{'data-feather': "plus-circle"}

        -if current_user.kind_of?(User) || current_user.kind_of?(Professor)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_edit_user_path}
                %span{'data-feather': "edit"}
                Editar Perfil

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_dados_bancarios_path}
                %span{'data-feather': "dollar-sign"}
                Dados Bancários

    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{role: "main"}
      .row
        .col-1
        .col
          %h1 Monitoria
          %br
          -if flash[:danger]
            .alert.alert-danger
              = flash[:danger]
          -if flash[:notice]
            .alert.alert-success
              = flash[:notice]
          %br

          - if current_user.class == User
            %p Utilize esta pagina para acompanhar suas solicitaçoes para monitor.
            %a{href:new_monitoria_path, method:"get", :class=>"btn btn-primary"}Aplicar para Monitor
            %br
            %p Voce tem #{pluralize(@monitorias.count, "cadastro")} para monitor.
            - @monitorias.each do |m|
              - d = Disciplina.find(m.fk_cod_disciplina)
              - case m.fk_status_monitoria_id
                - when 1
                  - status = "Pendente"
                - when 2
                  - status = "Rejeitado"
                - when 3
                  - status = "Aceito"
              %hr
              Aplicou para monitor na disciplina: #{d.nome}. 
              %br
              Status do solicitaçao: #{status}
              %br
              =link_to "Remover aplicaçao", monitoria_path(m), method: :delete, data: { confirm: "Tem certeza que quer desistir de monitorar esta disciplina?"}
              %br
              %br
          - else
            %p Utilize esta pagina para aceitar ou recusar solicitaçoes para monitor em sua turma.
            %br
              - @monitorias.each do |m|
                - d = Disciplina.find(m.fk_cod_disciplina)
                = d.nome
                %br
                = link_to "Ver lista de monitores.", monitoria_path(m)
                %br
          %hr
        .col-1