%br
%br
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar{style: 'margin-top: 40px'}
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            %a.nav-link.active{href: dashboard_path}
              %span{'data-feather': "home"}
              Dashboard
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{href: "#"}
              %span{'data-feather': "file"}
              Something 1
          %li.nav-item
            %a.nav-link{href: "#"}
              %span{'data-feather': "shopping-cart"}
              Something 2
          %li.nav-item
            %a.nav-link{href: "#"}
              %span{'data-feather': "users"}
              Something 3
          %li.nav-item
            %a.nav-link{href: "#"}
              %span{'data-feather': "layers"}
              Something 4

        %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          Some subtitle
          %span Something
          %a.d-flex.align-items-center.text-muted{href: "#"}
            %span{'data-feather': "plus-circle"}

        -if current_user.kind_of?(User) || current_user.kind_of?(Professor)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_edit_user_path}
                %span{'data-feather': "edit"}
                Editar Perfil

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_dados_bancarios_path}
                %span{'data-feather': "dollar-sign"}
                Dados Bancários

    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{role: "main"}
      .row
        .col-2
        .col
          = form_tag dados_bancario_path(@dados_bancarios), method: :put do
            .form-group.row
              = label :dados_bancarios, :codigo, 'Banco', class: 'col-sm-2 col-form-label'
              .col-sm-10
                = text_field :dados_bancarios, :codigo, class: 'form-control', autocomplete: 'off'

            .form-group.row
              = label :dados_bancarios, :agencia, 'Agência', class: 'col-sm-2 col-form-label'
              .col-sm-10
                = text_field :dados_bancarios, :agencia, class: 'form-control', autocomplete: 'off'

            .form-group.row
              = label :dados_bancarios, :conta_corrente, 'Conta Corrente', class: 'col-sm-2 col-form-label'
              .col-sm-10
                = text_field :dados_bancarios, :conta_corrente, class: 'form-control', autocomplete: 'off'

            = submit_tag 'Atualizar dados bancários', class: 'btn btn-outline-success btn-block'
        .col-1