%br
%main.container{role: "main"}
  .row
    .col-2
    .col
      %h1.text-center
        Editar dados bancários
      %hr
      %p.lead.text-center
        Casos seus dados bancários tenham mudado, você pode atualiza-los aqui!
      = form_tag dados_bancario_path(@dados_bancarios), method: :put do
        .form-group.row
          = label :dados_bancarios, :codigo, 'Banco', class: 'col-sm-2 col-form-label'
          .col-sm-10
            = text_field :dados_bancarios, :codigo, class: 'form-control', autocomplete: 'off'

        .form-group.row
          = label :dados_bancarios, :agencia, 'Agência', class: 'col-sm-2 col-form-label'
          .col-sm-10
            = text_field :dados_bancarios, :agencia, class: 'form-control', autocomplete: 'off'

        .form-group.row
          = label :dados_bancarios, :conta_corrente, 'Conta Corrente', class: 'col-sm-2 col-form-label'
          .col-sm-10
            = text_field :dados_bancarios, :conta_corrente, class: 'form-control', autocomplete: 'off'

        = submit_tag 'Atualizar dados bancários', class: 'btn btn-outline-success btn-block'
    .col-2