%br
%main.container{role: "main"}
  .row
    .col-3
    .col.text-center
      %h1 Registrar Atendimento
      %hr
      %p.text-justify
        O motivo deve conter o id dele.
    .col-3

  .row
    .col-3
    .col
      -if flash[:danger]
        .alert.alert-danger
          = flash[:danger]
      -if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      = form_tag atendimentos_path, method: :post do
        = hidden_field :atendimento, :monitor_id, value: @user.id

        .form-group.row
          = label :atendimento, :motivo_id, "Motivo", class: "col-sm-3 col-form-label"
          .col-sm-9
            = text_field :atendimento, :motivo_id, :class => "form-control", :autocomplete => "off", :required => "required"

        .form-group.row
          = label :atendimento, :dia, "Dia", class: "col-sm-3 col-form-label"
          .col-sm-9
            = date_select :atendimento, :dia, :class => "form-control", :autocomplete => "off", :required => "required"        

        .form-group.row
          = label :atendimento, :aluno_atendido, "Aluno Atendido", class: "col-sm-3 col-form-label"
          .col-sm-9
            = text_field :atendimento, :aluno_atendido, :class => "form-control", :autocomplete => "off", :required => "required"

        .form-group.row
          = label :atendimento, :descricao, "Descriçao", class: "col-sm-3 col-form-label"
          .col-sm-9
            = text_field :atendimento, :descricao, :class => "form-control", :autocomplete => "off", :required => "required"

        = hidden_field :atendimento, :monitor_id, value: @user.id
        
        %br
        = submit_tag 'Registrar', class: "btn btn-outline-primary btn-block unb-blue"
    .col-3