%br
%main.container{role: "container"}
  .row
    .col-5.text-justify
      %h1 Registro de alunos
      %hr
      %p.text-justify
        Você está a apenas alguns passos de começar usar o sistema que irá
        mudar para sempre como o processo de seleção de monitores funciona.
        Preencha os dados ao lado com suas informações e comece a usar o sistema agora mesmo!
        %br
        %br
        %b
          Lembre-se:
        a veracidade das informações aqui fornecidas são de responsabilidade do usuário.
        %br
        %br
        %a.btn.btn-md.btn-primary{href: professors_path} Registro de professores

    .col-1
    .col-6
      = form_tag users_path, :method => :post do
        - if flash[:danger]
          %div{class: "alert alert-danger"}
            - flash[:danger].each do |msg|
              %ul
                %li
                  =msg
        - if flash[:notice]
          .alert.alert-success
            %ul
              %li
                = flash[:notice]
        -#= hidden_field :user, :id, :value => (User.count()+1)
        .form-group.row
          = label :user, :name, 'Nome', :class => "col-sm-3 col-form-label"
          .col-sm-9
            = text_field :user, :name, :class => "form-control", :autocomplete => "off"

        .form-group.row
          = label :user, :matricula, 'Matrícula', :class => "col-sm-3 col-form-label"
          .col-sm-9
            = text_field :user, :matricula, :class => "form-control", :autocomplete => "off"

        .form-group.row
          = label :user, :email, 'Email', :class => "col-sm-3 col-form-label"
          .col-sm-9
            = text_field :user, :email, :class => "form-control", :autocomplete => "off"

        .row
          .col
            = label :user, :cpf, 'CPF'
            = text_field :user, :cpf, :class => "form-control", :autocomplete => "off"

          .col
            = label :user, :rg, 'RG'
            = text_field :user, :rg, :class => "form-control", :autocomplete => "off"

        %br

        .row
          .col
            = label :user, :password, 'Senha'
            = password_field :user, :password, :class => "form-control"

          .col
            = label :user, :password_confirmation, 'Confirmar Senha'
            = password_field :user, :password_confirmation, :class => "form-control"

        %br
        = submit_tag 'Registrar-se', :class => "btn btn-outline-primary float-right"