%main{:class => "container", :role => "main"}
  %div{:class => "row"}
    %div{:class => "col"}
      %h1{:class => "text-center"} Monitoria CIC
    %div{:class => "col"}
      %h3{:class => "text-center"} Registro do aluno
      %p{:class => "text-center"} O aluno é responsável pela veracidade dos dados aqui inseridos.
      %br
      %p{:class => "text-left"}Já possui conta?
      = link_to "Login", login_index_path
      %br
      %br
      - if flash[:notice]
        #notice.message= flash[:notice]
      = form_tag home_registrar_path, :method => :post do
        %div{:class => "form-group"}
          = label :aluno, :nome, "Nome"
          = text_field :aluno, :nome, :class => "form-control"

        %div{:class => "form-group"}
          = label :aluno, :matricula, "Matrícula"
          = text_field :aluno, :matricula, :class => "form-control"

        %div{:class => "form-group"}
          = label :aluno, :email, "E-Mail"
          = email_field :aluno, :email, :class => "form-control"

        %div{:class => "row"}
          %div{:class => "col"}
            = label :aluno, :cpf, "CPF"
            = text_field :aluno, :cpf, :class => "form-control"

          %div{:class => "col"}
            = label :aluno, :rg, "RG"
            = text_field :aluno, :rg, :class => "form-control"

        %div{:class => "form-group"}
          = label :aluno, :senha, "Senha"
          = password_field :aluno, :senha, :class => "form-control"

        %div{:class => "form-group"}
          = label :aluno, :conSenha, "Confirmar Senha"
          = password_field :aluno, :conSenha, :class => "form-control"

        %div{:class => "text-right"}
          = submit_tag 'Registrar', :class => "btn btn-primary"
      %br
