<%= form_with(model: atividade, local: true) do |form| %>
  <% if atividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atividade.errors.count, "error") %> prohibited this atividade from being saved:</h2>

      <ul>
      <% atividade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :mensagem %>
    <%= form.text_area :mensagem %>
  </div>

  <div class="field">
    <%= form.label :matricula_monitor %>
    <%= form.text_field :matricula_monitor %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
