<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @atividade.titulo %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @atividade.mensagem %>
</p>

<p>
  <strong>Matricula monitor:</strong>
  <%= @atividade.matricula_monitor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @atividade.data %>
</p>

<%= link_to 'Edit', edit_atividade_path(@atividade) %> |
<%= link_to 'Back', atividades_path %>
