%br
%main.container{role: "container"}
  .row
    .col-5.text-justify
      %h1 Olá professor!
      %hr
      %p.text-justify
        Por gentileza, nos informe qual dos professores abaixo é você?
        %br
        %br
      = form_tag confirmation_path, :method => :post do
        - if flash[:danger]
          %div{class: "alert alert-danger"}
            - flash[:danger].each do |msg|
              %ul
                %li
                  =msg
        - if flash[:notice]
          .alert.alert-success
            %ul
              %li
                = flash[:notice]

        .form-group.row
          = label :professor, :name, 'Professor(a)', :class => "col-sm-3 col-form-label"
          .col-sm-9
            = select("professor", "name", @professor.collect {|p| p.name }, { include_blank: true }, {:class => 'custom-select', required: true})
        %br
        = submit_tag 'Registrar-se', data: {confirm: "Um e-mail será enviado para esse professor, tem certeza de que deseja processeguir?"}, :class => "btn btn-outline-primary float-left"
        %br
        %br
        %a.btn.btn-md.btn-primary{href: new_user_path} Registro de alunos
    .col-1
    