%main.container{role: "main"}
  .row
    .col-3
    .col.text-center
      %h1 Registro de professores
      %hr
      %p.text-justify
        Bem vindo, professor! Você está a apenas alguns passos de começar usar o sistema que irá
        mudar para sempre como o processo de seleção de monitores funciona.
        Preencha os dados abaixo com suas informações e comece a usar o sistema agora mesmo!
        %br
        %br
        %b
          Lembre-se:
        a veracidade das informações aqui fornecidas são de responsabilidade do usuário.
    .col-3
  %br
  .row
    .col-3
    .col
      -if flash[:danger]
        .alert.alert-danger
          - flash[:danger].each do |msg|
            %ul
              %li
                =msg
      -if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      = form_tag professors_path, method: :post do
        .form-group.row
          = label :professor, :name, "Nome", class: "col-sm-2 col-form-label"
          .col-sm-10
            = text_field :professor, :name, :class => "form-control", :autocomplete => "off"

        .form-group.row
          = label :professor, :username, "Username", class: "col-sm-2 col-form-label"
          .col-sm-10
            = text_field :professor, :username, :class => "form-control", :autocomplete => "off"

        .form-group.row
          = label :professor, :email, "Email", class: "col-sm-2 col-form-label"
          .col-sm-10
            = text_field :professor, :email, :class => "form-control", :autocomplete => "off"

        .form-group.row
          = label :professor, :role, "Papel", class: "col-sm-2 col-form-label"
          .col-sm-10
            = select :professor, :role, options_for_select(Professor.all_roles), {}, class: 'custom-select'

        .row
          .col
            = label :professor, :password, 'Senha'
            = password_field :professor, :password, :class => "form-control"

          .col
            = label :professor, :password_confirmation, 'Confirmar Senha'
            = password_field :professor, :password_confirmation, :class => "form-control"

        %br
        = submit_tag 'Registrar', class: "btn btn-outline-primary btn-block"
    .col-3
  %br