!!! 5
%html
  %head
    %title MonitoriaCIC
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    - if (request.fullpath.include? "/dashboard")
      - @class = "fixed-top shadow"
    - else
      - @class = ""

    %nav{:class => "navbar navbar-expand-md navbar-light bg-light flex-md-nowrap p-0 #{@class}"}
      .container
        %a{:class => "navbar-brand", :href => root_path}
          %img{:src => image_path("logo.png"), :alt => "Logo Monitoria CIC"}
        %button{ :class => "navbar-toggler", :type => "button", 'data-toggle' => "collapse", 'data-target' => "#navbarSupportedContent",  'aria-controls' => "navbarSupportedContent", 'aria-expanded' => "false", 'aria-label' => "Toggle navigation"}
          %span{:class => "navbar-toggler-icon"}
        .collapse.navbar-collapse#navbarSupportedContent
          %ul.navbar-nav.ml-auto
            %li.nav-item.ml-auto
              %a{:class => "nav-link", :href => sobre_path}Sobre
            %li.nav-item.ml-auto
              %a{:class => "nav-link", :href => faq_path}FAQ
            %li.nav-item.ml-auto
              %a{:class => "nav-link", :href => root_path + "#contato"}Contato
            - if logged_in?
              %li.nav-item.ml-auto
                -unless current_user.kind_of? Admin
                  %a{:class => "nav-link", :href => dashboard_edit_user_path} Perfil de #{logged_user.name}
                -if current_user.kind_of? Admin
                  %a{:class => "nav-link", :href => dashboard_path} Dashboard
              %li.nav-item.ml-auto
                = link_to "Sair", session_path("current"), method: "delete", :class => "nav-link"
            - else
              %li.nav-item.ml-auto
                %a{:class => "nav-link", :href => new_user_path} Registrar
              %li.nav-item.ml-auto
                %a{:class => "nav-link", :href => new_session_path} Entrar
    = yield
    - if (!request.fullpath.include? "/dashboard")
      %br
      %footer.footer.bg-unb-blue
        .container
          .row.text-center
            .col
              %p.color-white
                Departamento de Ciência da Computação - &copy; 2018

    %script{:src => "https://unpkg.com/feather-icons/dist/feather.min.js"}
    %script
      feather.replace()